<div class="container-fluid">
  <!-- SDP: Semantically better to use <header> -->
  <h1 class="page-header">F1 2015 Rounds Table</h1>
  <p>Lists the rounds of the 2015 season and tips to date</p>

  <div class="table-responsive">
    <table class="table table-striped" role="grid">
      <thead>
        <tr>
          <th>Round no</th>
          <th>Circuit Name</th>
          <th>City</th>
          <th>Country</th>
          <th>Pole Position</th>
          <th>Race Winner</th>
          <th>Tips</th>
        </tr>
      </thead>
      <tbody>
        <% @rounds.each do |round| %>
          <tr>
            <td><%= round.round_number %></td>
            <td><%= round.circuit.name %></td>
            <td><%= round.circuit.locality %></td>
            <td><%= round.circuit.country %></td>
            <td><%= round.qly_result.pole_position unless round.qly_result.nil? %></td>
            <td><%= round.race_result.winner unless round.race_result.nil? %></td>
            <td>
              <% if round.is_current? %>
                <%= link_to 'Enter Tips', new_round_tip_path(round), class: "btn btn-wadda-bewdy" %>
              <% else %>
                Round Closed
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
