<div class="container-fluid">
  <!-- SDP: Semantically better to use <header> -->
  <h1 class="page-header">F1 2015 Rounds Table</h1>
  <p>Your tips for The 2015 season.</p>

  <div class="table-responsive">
    <table class="table table-striped" role="grid">
      <thead>
        <tr>
          <th>Round no</th>
          <th>Circuit Name</th>
          <th>City</th>
          <th>Country</th>
          <th>Pole Position</th>
          <th>Race Winner</th>
          <th>Tips</th>
        </tr>
      </thead>
      <tbody>
        <% @rounds.each do |round| %>
          <tr>
            <td><%= round.round_number %></td>
            <td><%= link_to round.circuit.name, round %></td>
            <td><%= round.circuit.locality %></td>
            <td><%= round.circuit.country %></td>
            <td><%= round.qly_result.pole_position unless round.qly_result.nil? %></td>
            <td><%= round.race_result.winner unless round.race_result.nil? %></td>
            <td>
              <% if round.is_current? && !round.in_the_past? %>
                <% if current_user.has_tipped?(round.id) %>
                  <%= link_to 'Update Tips', edit_user_tip_path(round), class: "btn btn-wadda-bewdy" %>
                <% else %>
                  <%= link_to 'Enter Tips', new_user_tip_path(round_id: round.id), class: "btn btn-wadda-bewdy" %>
                <% end %>
              <% elsif !round.is_current? && round.in_the_past? %>
                <%= link_to 'My Tip Results', user_tip_path(round), class: "btn btn-wadda-bewdy" %>
              <% else %>
                Round Closed
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
