<div class="page-header">
  <h1>
    <%= @circuit.name %>
    <small>
      Locality: <%= @circuit.locality %>,
      Country: <%= @circuit.country %>
      Qualy Date: <%= @rounds.qly_datetime %>
      Race Date: <%= @rounds.race_datetime %>
    </small>
  </h1>
</div>
