<!DOCTYPE html>
<html>
  <head>
    <title>Wadda Bewdy</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>

      <%= google_webfonts_init({
        google: ['Roboto Slab', 'Roboto', 'Montserrat', 'Kaushan Script', 'Droid Serif']
      }) %>
  </head>
  <body id="page-top" class="index">
  <!-- Navigation -->
  <%= render 'shared/nav' %>

  <!-- Sidebar -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-inverse nav-sidebar montserrat-font">
          <li>
            <%= link_to 'Rounds Home', rounds_path %>
          </li>
          <li>
          <%= link_to 'My Tips', user_tip_index_path %>
            <!-- <a href="#">My Tips</a> -->
          </li>
          <li>
          <a href="#">League Results</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
